In [1]:
%matplotlib inline
DATA_DIR = '../data'

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_excel(f'{DATA_DIR}/means_am_peak.xlsx', 'Sheet1')

In [5]:
df.head(10)

        Station  Year  Means AM Peak
0  Addison Road  2010    2182.925000
1           NaN  2011    2193.325000
2           NaN  2012    2077.500000
3           NaN  2013    1995.433333
4           NaN  2014    1967.800000
5     Anacostia  2010    3014.400000
6           NaN  2011    3026.466667
7           NaN  2012    2975.716667
8           NaN  2013    2890.183333
9           NaN  2014    2893.400000

In [6]:
df['Station'] = pd.Series(df['Station']).fillna(method='ffill')

In [7]:
df.head(10)

        Station  Year  Means AM Peak
0  Addison Road  2010    2182.925000
1  Addison Road  2011    2193.325000
2  Addison Road  2012    2077.500000
3  Addison Road  2013    1995.433333
4  Addison Road  2014    1967.800000
5     Anacostia  2010    3014.400000
6     Anacostia  2011    3026.466667
7     Anacostia  2012    2975.716667
8     Anacostia  2013    2890.183333
9     Anacostia  2014    2893.400000

In [8]:
df['Diff'] = df.groupby('Station')['Means AM Peak'].transform(pd.Series.diff).fillna(value=0)

In [9]:
df.head(10)

        Station  Year  Means AM Peak        Diff
0  Addison Road  2010    2182.925000    0.000000
1  Addison Road  2011    2193.325000   10.400000
2  Addison Road  2012    2077.500000 -115.825000
3  Addison Road  2013    1995.433333  -82.066667
4  Addison Road  2014    1967.800000  -27.633333
5     Anacostia  2010    3014.400000    0.000000
6     Anacostia  2011    3026.466667   12.066667
7     Anacostia  2012    2975.716667  -50.750000
8     Anacostia  2013    2890.183333  -85.533333
9     Anacostia  2014    2893.400000    3.216667

In [10]:
df['% Change'] = df.groupby('Station')["Means AM Peak"].pct_change().fillna(value=0)

In [11]:
df.head(10)

        Station  Year  Means AM Peak        Diff  % Change
0  Addison Road  2010    2182.925000    0.000000  0.000000
1  Addison Road  2011    2193.325000   10.400000  0.004764
2  Addison Road  2012    2077.500000 -115.825000 -0.052808
3  Addison Road  2013    1995.433333  -82.066667 -0.039503
4  Addison Road  2014    1967.800000  -27.633333 -0.013848
5     Anacostia  2010    3014.400000    0.000000  0.000000
6     Anacostia  2011    3026.466667   12.066667  0.004003
7     Anacostia  2012    2975.716667  -50.750000 -0.016769
8     Anacostia  2013    2890.183333  -85.533333 -0.028744
9     Anacostia  2014    2893.400000    3.216667  0.001113

In [12]:
def label(change):
    if change < 0.05 and change > -0.05:
        return "flat"
    if change < 0:
        return "down"
    if change > 0:
        return "up"

In [13]:
df['Label'] = df.apply(lambda row: label(row['% Change']), axis=1)

In [14]:
df.head(10)

        Station  Year  Means AM Peak        Diff  % Change Label
0  Addison Road  2010    2182.925000    0.000000  0.000000  flat
1  Addison Road  2011    2193.325000   10.400000  0.004764  flat
2  Addison Road  2012    2077.500000 -115.825000 -0.052808  down
3  Addison Road  2013    1995.433333  -82.066667 -0.039503  flat
4  Addison Road  2014    1967.800000  -27.633333 -0.013848  flat
5     Anacostia  2010    3014.400000    0.000000  0.000000  flat
6     Anacostia  2011    3026.466667   12.066667  0.004003  flat
7     Anacostia  2012    2975.716667  -50.750000 -0.016769  flat
8     Anacostia  2013    2890.183333  -85.533333 -0.028744  flat
9     Anacostia  2014    2893.400000    3.216667  0.001113  flat

In [18]:
    df.to_excel(f'{DATA_DIR}/change_values_am_peak.xlsx', sheet_name='Sheet1')